<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner NhacCuaTui</title>
    <link rel="stylesheet" href="https://stc-id.nixcdn.com/v11/slick-carousel/css/slick.css">
    <link rel="stylesheet" href="https://stc-id.nixcdn.com/v11/slick-carousel/css/slick-theme.css">
    <link rel="stylesheet" href="https://stc-id.nixcdn.com/v11/slick-carousel/css/style-slick.0.1.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stc-id.nixcdn.com/v11/slick-carousel/js/slick.min.js"></script>
    <style>
        .content-slider-slick {
            width: 100%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="content-slider-slick">
        <div id="slickModeCenter" class="center slick-initialized slick-slider">
            <div class="slick-list" tabindex="0" style="padding: 0 177.5px;">
                <div class="slick-track" style="opacity: 1; width: 5705px; transform: translate3d(-2445px, 0, 0);">

                    <!-- Slide Item -->
                    <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/bai-hat/ta-da-vat-va-roi-ma-14-casper-ft-bon-nghiem.4zVwis2Y1P72.html" target="_blank" title="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/25/1/f/b/e/1727270314643_org.jpg" alt="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/playlist/nay-hay-an-ngo.adVRz98s8bFm.html" target="_blank" title="Này Hay - Ân Ngờ">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/26/9/2/c/d/1727324432086_org.jpg" alt="Này Hay - Ân Ngờ">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/bai-hat/suot-dem-rio-viet-nam-ft-52hz.iCScDO226ztZ.html" target="_blank" title="Suốt Đêm - RIO, 52Hz">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/25/1/f/b/e/1727270487601_org.jpg" alt="Suốt Đêm - RIO, 52Hz">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide slick-active slick-center" data-slick-index="1" aria-hidden="false" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/bai-hat/ta-da-vat-va-roi-ma-14-casper-ft-bon-nghiem.4zVwis2Y1P72.html" target="_blank" title="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/25/1/f/b/e/1727270314643_org.jpg" alt="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/playlist/nay-hay-an-ngo.adVRz98s8bFm.html" target="_blank" title="Này Hay - Ân Ngờ">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/26/9/2/c/d/1727324432086_org.jpg" alt="Này Hay - Ân Ngờ">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/bai-hat/suot-dem-rio-viet-nam-ft-52hz.iCScDO226ztZ.html" target="_blank" title="Suốt Đêm - RIO, 52Hz">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/25/1/f/b/e/1727270487601_org.jpg" alt="Suốt Đêm - RIO, 52Hz">
                            </a>
                        </div>
                    </div>

                    <div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 815px;">
                        <div class="slide">
                            <div class="blur"></div>
                            <a href="https://www.nhaccuatui.com/bai-hat/ta-da-vat-va-roi-ma-14-casper-ft-bon-nghiem.4zVwis2Y1P72.html" target="_blank" title="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                                <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/09/25/1/f/b/e/1727270314643_org.jpg" alt="Ta Đã Vất Vả Rồi Mà - 14 Casper, Bon Nghiêm">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <button type="button" class="slick-prev" aria-label="previous">Previous</button>
            <button type="button" class="slick-next" aria-label="next">Next</button>

            <ul class="slick-dots">
                <li class="" aria-hidden="true"><button type="button">1</button></li>
                <li class="slick-active"><button type="button">2</button></li>
                <li class=""><button type="button">3</button></li>
            </ul>
        </div>

        <script type="text/javascript">$(document).ready(function () {
                $('#slickModeCenter').slick({
                    arrows: true,
                    centerMode: true,
                    infinite: true,
                    centerPadding: '177.5px',
                    slidesToShow: 1,
                    speed: 1200,
                    draggable: true,
                    dots: true,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    pauseOnHover: false,
                    pauseOnFocus: false,
                    initialSlide: 0,
                    prevArrow: $('.slick-prev'),
                    nextArrow: $('.slick-next'),
                    responsive: [
                        {
                            breakpoint: 1190,
                            settings: {
                                centerPadding: '134.5px'
                            }
                        }
                    ]
                });
            });</script>
    </div>
</body>
</html>