@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Interface</title>
    <link href="~/Content/Content/Content.css" rel="stylesheet" />
</head>
<body>
    <div class="box-content">
        <div class="wrap">
            <div class="content-wrap">
                <div class="box-left">


                    <!--Topic Event-->

                    <div class="list_album">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2>
                                    <a style="background: none;" title="Vũ Trụ Nhạc Việt" href="javascript:void(0)">Vũ Trụ Nhạc Việt</a>
                                </h2>
                            </div>
                            <ul>
                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="box_absolute" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/04/5/c/6/f/1725455278586_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="name_song" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','title_playlist']);">R&amp;B Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="box_absolute" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/05/12/e/e/f/e/1683882973444_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="name_song" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','title_playlist']);">Nhạc Việt Live</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="box_absolute" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/24/0/e/b/d/1719202663005_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="name_song" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','title_playlist']);">Rock Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="box_absolute" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/27/b/b/e/b/1719462163257_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="name_song" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','title_playlist']);">Bản Sắc Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="box_absolute" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/09/19/0/4/0/3/1695112393389_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="name_song" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','title_playlist']);">V-SOUND 2010s</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="list_album">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2>
                                    <a style="background: none;" title="Quốc Tế Nổi Bật" href="javascript:void(0)">Quốc Tế Nổi Bật</a>
                                </h2>
                            </div>
                            <ul>
                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-phim-han-quoc-.W4QIuNGetV5W.html" class="box_absolute" title="Nhạc Phim Hàn Quốc" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Quốc Tế Nổi Bật', 'W4QIuNGetV5W']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','W4QIuNGetV5W','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/03/21/6/3/a/f/1711018189345_300.jpg" alt="Quốc Tế Nổi Bật" title="Quốc Tế Nổi Bật">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-phim-han-quoc-.W4QIuNGetV5W.html" class="name_song" title="Nhạc Phim Hàn Quốc" onclick="_gaq.push(['_trackEvent', 'Quốc Tế Nổi Bật', 'Click', 'W4QIuNGetV5W']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','W4QIuNGetV5W','','title_playlist']);">Nhạc Phim Hàn Quốc</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-phim-au-my-.9z0AuwDzPxoN.html" class="box_absolute" title="Nhạc Phim Âu Mỹ" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Quốc Tế Nổi Bật', '9z0AuwDzPxoN']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','9z0AuwDzPxoN','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/13/a/7/1/6/1718274054549_300.jpg" alt="Quốc Tế Nổi Bật" title="Quốc Tế Nổi Bật">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-phim-au-my-.9z0AuwDzPxoN.html" class="name_song" title="Nhạc Phim Âu Mỹ" onclick="_gaq.push(['_trackEvent', 'Quốc Tế Nổi Bật', 'Click', '9z0AuwDzPxoN']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','9z0AuwDzPxoN','','title_playlist']);">Nhạc Phim Âu Mỹ</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-co-phong-trung-quoc-hay-nhat-.p8pUpx93WSid.html" class="box_absolute" title="Nhạc Cổ Phong Trung Quốc Hay Nhất" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Quốc Tế Nổi Bật', 'p8pUpx93WSid']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','p8pUpx93WSid','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/05/22/2/d/3/1/1716370175863_300.jpg" alt="Quốc Tế Nổi Bật" title="Quốc Tế Nổi Bật">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-co-phong-trung-quoc-hay-nhat-.p8pUpx93WSid.html" class="name_song" title="Nhạc Cổ Phong Trung Quốc Hay Nhất" onclick="_gaq.push(['_trackEvent', 'Quốc Tế Nổi Bật', 'Click', 'p8pUpx93WSid']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','p8pUpx93WSid','','title_playlist']);">Nhạc Cổ Phong Trung Quốc Hay Nhất</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-phim-hoa-ngu-.aUpLq2iKZgwx.html" class="box_absolute" title="Nhạc Phim Hoa Ngữ" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Quốc Tế Nổi Bật', 'aUpLq2iKZgwx']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','aUpLq2iKZgwx','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/13/a/7/1/6/1718263257064_300.jpg" alt="Quốc Tế Nổi Bật" title="Quốc Tế Nổi Bật">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-phim-hoa-ngu-.aUpLq2iKZgwx.html" class="name_song" title="Nhạc Phim Hoa Ngữ" onclick="_gaq.push(['_trackEvent', 'Quốc Tế Nổi Bật', 'Click', 'aUpLq2iKZgwx']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','aUpLq2iKZgwx','','title_playlist']);">Nhạc Phim Hoa Ngữ</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rhythm-of-rb-.0iFKfm2aKai2.html" class="box_absolute" title="Rhythm of R&amp;B" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Quốc Tế Nổi Bật', '0iFKfm2aKai2']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','0iFKfm2aKai2','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/08/08/c/6/7/3/1723112985324_300.jpg" alt="Quốc Tế Nổi Bật" title="Quốc Tế Nổi Bật">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rhythm-of-rb-.0iFKfm2aKai2.html" class="name_song" title="Rhythm of R&amp;B" onclick="_gaq.push(['_trackEvent', 'Quốc Tế Nổi Bật', 'Click', '0iFKfm2aKai2']); lt(['Quốc Tế Nổi Bật','music-event','click','playlist','0iFKfm2aKai2','','title_playlist']);">Rhythm of R&amp;B</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="list_album">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2>
                                    <a style="background: none;" title="Tâm Trạng Hôm Nay" href="javascript:void(0)">Tâm Trạng Hôm Nay</a>
                                </h2>
                            </div>
                            <ul>
                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nghe-nhu-tinh-yeu-.S9cglNkDfzNR.html" class="box_absolute" title="Nghe Như Tình Yêu" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Tâm Trạng Hôm Nay', 'S9cglNkDfzNR']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','S9cglNkDfzNR','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/08/13/c/3/d/5/1723524685848_300.jpg" alt="Tâm Trạng Hôm Nay" title="Tâm Trạng Hôm Nay">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nghe-nhu-tinh-yeu-.S9cglNkDfzNR.html" class="name_song" title="Nghe Như Tình Yêu" onclick="_gaq.push(['_trackEvent', 'Tâm Trạng Hôm Nay', 'Click', 'S9cglNkDfzNR']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','S9cglNkDfzNR','','title_playlist']);">Nghe Như Tình Yêu</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/sped-up-viet-.nLWfdmtBShWs.html" class="box_absolute" title="Sped Up Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Tâm Trạng Hôm Nay', 'nLWfdmtBShWs']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','nLWfdmtBShWs','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/07/18/a/8/3/9/1689666142360_300.jpg" alt="Tâm Trạng Hôm Nay" title="Tâm Trạng Hôm Nay">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/sped-up-viet-.nLWfdmtBShWs.html" class="name_song" title="Sped Up Việt" onclick="_gaq.push(['_trackEvent', 'Tâm Trạng Hôm Nay', 'Click', 'nLWfdmtBShWs']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','nLWfdmtBShWs','','title_playlist']);">Sped Up Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/de-thuong-qua-di-.6XBb3V38WztR.html" class="box_absolute" title="Dễ Thương Quá Đi" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Tâm Trạng Hôm Nay', '6XBb3V38WztR']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','6XBb3V38WztR','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/08/08/c/6/7/3/1723102067055_300.jpg" alt="Tâm Trạng Hôm Nay" title="Tâm Trạng Hôm Nay">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/de-thuong-qua-di-.6XBb3V38WztR.html" class="name_song" title="Dễ Thương Quá Đi" onclick="_gaq.push(['_trackEvent', 'Tâm Trạng Hôm Nay', 'Click', '6XBb3V38WztR']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','6XBb3V38WztR','','title_playlist']);">Dễ Thương Quá Đi</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/that-ther-that-chill-.TJaxsFXM11xj.html" class="box_absolute" title="Thật ther Thật chill" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Tâm Trạng Hôm Nay', 'TJaxsFXM11xj']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','TJaxsFXM11xj','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/28/b/f/5/d/1719569735440_300.jpg" alt="Tâm Trạng Hôm Nay" title="Tâm Trạng Hôm Nay">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/that-ther-that-chill-.TJaxsFXM11xj.html" class="name_song" title="Thật ther Thật chill" onclick="_gaq.push(['_trackEvent', 'Tâm Trạng Hôm Nay', 'Click', 'TJaxsFXM11xj']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','TJaxsFXM11xj','','title_playlist']);">Thật ther Thật chill</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/cam-xuc-khi-yeu-.bEpmw71HfUdT.html" class="box_absolute" title="Cảm Xúc Khi Yêu" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Tâm Trạng Hôm Nay', 'bEpmw71HfUdT']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','bEpmw71HfUdT','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/08/29/7/d/7/a/1724902508392_300.jpg" alt="Tâm Trạng Hôm Nay" title="Tâm Trạng Hôm Nay">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/cam-xuc-khi-yeu-.bEpmw71HfUdT.html" class="name_song" title="Cảm Xúc Khi Yêu" onclick="_gaq.push(['_trackEvent', 'Tâm Trạng Hôm Nay', 'Click', 'bEpmw71HfUdT']); lt(['Tâm Trạng Hôm Nay','music-event','click','playlist','bEpmw71HfUdT','','title_playlist']);">Cảm Xúc Khi Yêu</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    @*MỚI PHÁT HÀNH*@

                    <div class="list_album albumHot">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2><a title="Album Hot" href="https://www.nhaccuatui.com/playlist/playlist-moi.html">MỚI PHÁT HÀNH</a></h2>
                            </div>
                            <ul>
                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/bai-hat/khong-phay-tam-phan-tram-vuong-anh-tu-ft-lam-bao-ngoc.MVFmQL3Jf8TK.html" class="box_absolute" title="Không Phẩy Tám Phần Trăm - Vương Anh Tú, Lâm Bảo Ngọc" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']); lt(['home','album-hot','click','playlist','','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_16122203">0</span></span>
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar"><img src="https://avatar-ex-swe.nixcdn.com/song/2024/09/18/c/4/2/d/1726647692380_300.jpg" alt="Không Phẩy Tám Phần Trăm - Vương Anh Tú, Lâm Bảo Ngọc" onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/khong-phay-tam-phan-tram-vuong-anh-tu-ft-lam-bao-ngoc.MVFmQL3Jf8TK.html" class="name_song" title="Không Phẩy Tám Phần Trăm - Vương Anh Tú, Lâm Bảo Ngọc" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']); lt(['home','album-hot','click','song','MVFmQL3Jf8TK','','title']);">Không Phẩy Tám Phần Trăm</a></h3>
                                        <h4>
                                            <a href="https://www.nhaccuatui.com/nghe-si-vuong-anh-tu.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Vương Anh Tú trình bày" target="_blank">Vương Anh Tú</a>,
                                            <a href="https://www.nhaccuatui.com/nghe-si-Lam-Bao-Ngoc.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Lâm Bảo Ngọc trình bày" target="_blank">Lâm Bảo Ngọc</a>
                                        </h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/bai-hat/goi-cho-anh-1am-version-isaac.MVIOQfBKOG6O.html" class="box_absolute" title="GỌI CHO ANH (1AM Version) - Isaac" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_15998563">0</span></span>
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/song/2024/09/20/0/d/5/d/1726804925909_300.jpg" alt="goi cho anh (1am version) - isaac" title="GỌI CHO ANH (1AM Version) - Isaac"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/goi-cho-anh-1am-version-isaac.MVIOQfBKOG6O.html" class="name_song" title="GỌI CHO ANH (1AM Version) - Isaac" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','song','MVIOQfBKOG6O','','title']);">GỌI CHO ANH (1AM Version)</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-isaac.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Isaac trình bày" target="_blank">Isaac</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/bai-hat/chi-can-co-nhau-vu-cat-tuong.zjKJjgwXbmtX.html" class="box_absolute" title="Chỉ Cần Có Nhau - Vũ Cát Tường" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pn_16132123">0</span></span>
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/song/2024/09/19/a/9/c/e/1726721527543_300.jpg" alt="chi can co nhau - vu cat tuong" title="Chỉ Cần Có Nhau - Vũ Cát Tường"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/chi-can-co-nhau-vu-cat-tuong.zjKJjgwXbmtX.html" class="name_song" title="Chỉ Cần Có Nhau - Vũ Cát Tường" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','song','zjKJjgwXbmtX','','title']);">Chỉ Cần Có Nhau</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-vu-cat-tuong.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Vũ Cát Tường trình bày" target="_blank">Vũ Cát Tường</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/bai-hat/spot-a-fake-ava-max.mBm1bzlIYAKq.html" class="box_absolute" title="Spot A Fake - Ava Max" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_16108480">0</span></span>
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/song/2024/09/17/4/0/7/d/1726582616285_300.jpg" alt="spot a fake - ava max" title="Spot A Fake - Ava Max"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/spot-a-fake-ava-max.mBm1bzlIYAKq.html" class="name_song" title="Spot A Fake - Ava Max" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','song','mBm1bzlIYAKq','','title']);">Spot A Fake</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-ava-max.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Ava Max trình bày" target="_blank">Ava Max</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/bai-hat/na-hwasa.fTA0iN2VKukK.html" class="box_absolute" title="Na - HWASA" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_sg_16089865">0</span></span>
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/song/2024/09/16/e/2/d/0/1726480777487_300.jpg" alt="na - hwasa" title="Na - HWASA"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/bai-hat/na-hwasa.fTA0iN2VKukK.html" class="name_song" title="Na - HWASA" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','song','fTA0iN2VKukK','','title']);">Na</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=HWASA&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ HWASA trình bày" target="_blank">HWASA</a></h4>
                                    </div>
                                </li>


                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/requiem-bonus-edition-explicit-keshi.jIxmt6yUIR93.html" class="box_absolute" title="Requiem (Bonus Edition) [Explicit] - keshi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','jIxmt6yUIR93','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_83803709">0</span></span>
                                                <span class="icon_play"></span>

                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/19/b/6/6/5/1726762597301_300.jpg" alt="requiem (bonus edition) [explicit] - keshi" title="Requiem (Bonus Edition) [Explicit] - keshi"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/requiem-bonus-edition-explicit-keshi.jIxmt6yUIR93.html" class="name_song" title="Requiem (Bonus Edition) [Explicit] - keshi" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','jIxmt6yUIR93','','title']);">Requiem (Bonus Edition) [Explicit]</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-keshi.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ keshi trình bày" target="_blank">keshi</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/o-hwasa.P47OsIiNxr6r.html" class="box_absolute" title="O - HWASA" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','P47OsIiNxr6r','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_83789708">0</span></span>
                                                <span class="icon_play"></span>

                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/16/1/a/9/c/1726480785068_300.jpg" alt="o - hwasa" title="O - HWASA"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/o-hwasa.P47OsIiNxr6r.html" class="name_song" title="O - HWASA" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','P47OsIiNxr6r','','title']);">O</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=HWASA&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ HWASA trình bày" target="_blank">HWASA</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/chap-cheng-cheng.txhVIuTzs6uq.html" class="box_absolute" title="CHẬP CHENG   - Cheng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','txhVIuTzs6uq','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_83788906">0</span></span>
                                                <span class="icon_play"></span>

                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/16/1/a/9/c/1726462879922_300.jpg" alt="chap cheng   - cheng" title="CHẬP CHENG   - Cheng"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/chap-cheng-cheng.txhVIuTzs6uq.html" class="name_song" title="CHẬP CHENG   - Cheng" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','txhVIuTzs6uq','','title']);">CHẬP CHENG  </a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-cheng-quang-anh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Cheng trình bày" target="_blank">Cheng</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/binh-minh-ep-hoang-duyen.iGyEGR8Jz8HV.html" class="box_absolute" title="Bình Minh (EP) - Hoàng Duyên" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','iGyEGR8Jz8HV','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_83742004">0</span></span>
                                                <span class="icon_play"></span>

                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/03/f/6/f/2/1725332448044_300.jpg" alt="binh minh (ep) - hoang duyen" title="Bình Minh (EP) - Hoàng Duyên"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/binh-minh-ep-hoang-duyen.iGyEGR8Jz8HV.html" class="name_song" title="Bình Minh (EP) - Hoàng Duyên" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','iGyEGR8Jz8HV','','title']);">Bình Minh (EP)</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/nghe-si-hoang-duyen.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Hoàng Duyên trình bày" target="_blank">Hoàng Duyên</a></h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/bat-dau-nhung-do-dang-trungg-iu-ft-hung-cacao.JWuWpf2Taz3O.html" class="box_absolute" title="Bắt Đầu Những Dở Dang - Trungg I.U, Hưng Cacao" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','JWuWpf2Taz3O','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="view_listen"><span class="icon_listen"></span><span id="NCTCounter_pl_93119311">0</span></span>
                                                <span class="icon_play"></span>

                                            </div>
                                            <span class="avatar"><img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/08/15/p/g/3/W/1723718560317_300.jpg" alt="bat dau nhung do dang - trungg i.u, hung cacao" title="Bắt Đầu Những Dở Dang - Trungg I.U, Hưng Cacao"></span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo"><a href="https://www.nhaccuatui.com/playlist/bat-dau-nhung-do-dang-trungg-iu-ft-hung-cacao.JWuWpf2Taz3O.html" class="name_song" title="Bắt Đầu Những Dở Dang - Trungg I.U, Hưng Cacao" onclick=" _gaq.push(['_trackEvent', 'Home', 'Click', 'Album - Hot']);lt(['home','album-hot','click','playlist','JWuWpf2Taz3O','','title']);">Bắt Đầu Những Dở Dang</a></h3>
                                        <h4><a href="https://www.nhaccuatui.com/tim-kiem?q=Trungg+I.U&amp;b=singer" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trungg I.U trình bày" target="_blank">Trungg I.U</a>, <a href="https://www.nhaccuatui.com/nghe-si-hung-cacao.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Hưng Cacao trình bày" target="_blank">Hưng Cacao</a></h4>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
