@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Interface</title>
    <link href="~/Content/Content/Content.css" rel="stylesheet" />
</head>
<body>
    <div class="box-content">
        <div class="wrap">
            <div class="content-wrap">

                @*LEFT*@

                <div class="box-left">
                    <!--Topic Event-->

                    <div class="list_album">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2>
                                    <a style="background: none;" title="Vũ Trụ Nhạc Việt" href="javascript:void(0)">Vũ Trụ Nhạc Việt</a>
                                </h2>
                            </div>
                            <ul>
                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="box_absolute" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/04/5/c/6/f/1725455278586_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="name_song" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','title_playlist']);">R&amp;B Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="box_absolute" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/05/12/e/e/f/e/1683882973444_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="name_song" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','title_playlist']);">Nhạc Việt Live</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="box_absolute" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/24/0/e/b/d/1719202663005_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="name_song" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','title_playlist']);">Rock Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="box_absolute" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/27/b/b/e/b/1719462163257_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="name_song" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','title_playlist']);">Bản Sắc Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="box_absolute" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/09/19/0/4/0/3/1695112393389_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="name_song" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','title_playlist']);">V-SOUND 2010s</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                @*RIGHT*@

                <div class="box-right">
                    <div class="box_chart_music">
                        <div class="tile_box_key">
                            <h3><a class="nomore" href="https://www.nhaccuatui.com/bai-hat/top-20.html" title="BXH Bài Hát" onclick="lt(['home','BXH','click','song','bai-hat-top-20','','url']);">BXH Bài Hát</a></h3>
                            <!--                        <a id="aUrlTop20" onclick="lt(['home','BXH','click','song','play-all','','url']);" href="" title="BXH Bài Hát" class="play_all" id="play_all"></a>-->
                        </div>
                        <div class="btn_tab_select">
                            <a id="top20__nhac-viet" href="javascript:;" class="active" title="Việt Nam">Việt Nam</a>
                            <a id="top20__au-my" href="javascript:;" title="Âu Mỹ">Âu Mỹ</a>
                            <a id="top20__nhac-han" href="javascript:;" title="Hàn Quốc">Hàn Quốc</a>
                        </div>

                        <div class="list_chart_music" id="top20-content">
                            <ul>

                                <li class="one">

                                    <div class="info_data">
                                        <a title="TÌNH ĐẦU QUÁ CHÉN" href="https://www.nhaccuatui.com/bai-hat/tinh-dau-qua-chen-anh-trai-say-hi-quang-hung-masterd-negav-phap-kieu-erik.ZViQdtds3AH7.html" onclick="lt(['home','BXH','click','song','ZViQdtds3AH7','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="img"> <span class="number special-1">1</span><img src="https://image-cdn.nct.vn/song/2024/09/13/f/1/0/2/1726246384758.jpg"></a>
                                        <h3><a title="TÌNH ĐẦU QUÁ CHÉN" href="https://www.nhaccuatui.com/bai-hat/tinh-dau-qua-chen-anh-trai-say-hi-quang-hung-masterd-negav-phap-kieu-erik.ZViQdtds3AH7.html" onclick="lt(['home','BXH','click','song','ZViQdtds3AH7','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">TÌNH ĐẦU QUÁ CHÉN</a></h3>
                                        <h4>ANH TRAI "SAY HI", Quang Hùng MasterD, Negav, Pháp Kiều, ERIK</h4>
                                        <!--span id="NCTCounter__ZViQdtds3AH7" class="icon_listen">0</span-->
                                    </div>

                                </li>

                                <li>
                                    <span class="number special-2">2</span>
                                    <div class="info_data">

                                        <h3><a title="SAO HẠNG A" href="https://www.nhaccuatui.com/bai-hat/sao-hang-a-anh-trai-say-hi-hieuthuhai-duong-domic-song-luan-jsol.9hVrZ2qY9XqD.html" onclick="lt(['home','BXH','click','song','9hVrZ2qY9XqD','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">SAO HẠNG A</a></h3>
                                        <h4>ANH TRAI "SAY HI", HIEUTHUHAI, Dương Domic, Song Luân, JSOL</h4>

                                    </div>
                                    <!--span id="NCTCounter__9hVrZ2qY9XqD" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-3">3</span>
                                    <div class="info_data">

                                        <h3><a title="TRÀN BỘ NHỚ" href="https://www.nhaccuatui.com/bai-hat/tran-bo-nho-anh-trai-say-hi-duong-domic.PJMDWo8qSqvI.html" onclick="lt(['home','BXH','click','song','PJMDWo8qSqvI','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">TRÀN BỘ NHỚ</a></h3>
                                        <h4>ANH TRAI "SAY HI", Dương Domic</h4>

                                    </div>
                                    <!--span id="NCTCounter__PJMDWo8qSqvI" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-4">4</span>
                                    <div class="info_data">

                                        <h3><a title="bình yên" href="https://www.nhaccuatui.com/bai-hat/binh-yen-vu-binz.56Um1CgCynmG.html" onclick="lt(['home','BXH','click','song','56Um1CgCynmG','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">bình yên</a></h3>
                                        <h4>Vũ., Binz</h4>

                                    </div>
                                    <!--span id="NCTCounter__56Um1CgCynmG" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-5">5</span>
                                    <div class="info_data">

                                        <h3><a title="TRÓI EM LẠI" href="https://www.nhaccuatui.com/bai-hat/troi-em-lai-anh-trai-say-hi-quang-hung-masterd.O8F8TRrOO8Cy.html" onclick="lt(['home','BXH','click','song','O8F8TRrOO8Cy','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">TRÓI EM LẠI</a></h3>
                                        <h4>ANH TRAI "SAY HI", Quang Hùng MasterD</h4>

                                    </div>
                                    <!--span id="NCTCounter__O8F8TRrOO8Cy" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-6">6</span>
                                    <div class="info_data">

                                        <h3><a title="KIM PHÚT, KIM GIỜ" href="https://www.nhaccuatui.com/bai-hat/kim-phut-kim-gio-isaac-negav-hieuthuhai-hurrykng-phap-kieu-anh-trai-say-hi.I27zoLp2Ovzz.html" onclick="lt(['home','BXH','click','song','I27zoLp2Ovzz','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">KIM PHÚT, KIM GIỜ</a></h3>
                                        <h4>Isaac, Negav, HIEUTHUHAI, HURRYKNG, Pháp Kiều, ANH TRAI "SAY HI"</h4>

                                    </div>
                                    <!--span id="NCTCounter__I27zoLp2Ovzz" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-7">7</span>
                                    <div class="info_data">

                                        <h3><a title="Đi Giữa Trời Rực Rỡ (Original Soundtrack from “Đi Giữa Trời Rực Rỡ”)" href="https://www.nhaccuatui.com/bai-hat/di-giua-troi-ruc-ro-original-soundtrack-from-di-giua-troi-ruc-ro-ngo-lan-huong-sk-pictures.ISY94SDm2hFh.html" onclick="lt(['home','BXH','click','song','ISY94SDm2hFh','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">Đi Giữa Trời Rực Rỡ (Original Soundtrack from “Đi Giữa Trời Rực Rỡ”)</a></h3>
                                        <h4>Ngô Lan Hương, SK Pictures</h4>

                                    </div>
                                    <!--span id="NCTCounter__ISY94SDm2hFh" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-8">8</span>
                                    <div class="info_data">

                                        <h3><a title="NGÁO NGƠ" href="https://www.nhaccuatui.com/bai-hat/ngao-ngo-anh-trai-say-hi-hieuthuhai-erik-anh-tu-atus-jsol-orange.gwkZrcqfbbOI.html" onclick="lt(['home','BXH','click','song','gwkZrcqfbbOI','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">NGÁO NGƠ</a></h3>
                                        <h4>ANH TRAI "SAY HI", HIEUTHUHAI, ERIK, Anh Tú Atus, JSOL, Orange</h4>

                                    </div>
                                    <!--span id="NCTCounter__gwkZrcqfbbOI" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-9">9</span>
                                    <div class="info_data">

                                        <h3><a title="HOP ON DA SHOW" href="https://www.nhaccuatui.com/bai-hat/hop-on-da-show-tlinh-low-g.aYLxhJMqB1Wx.html" onclick="lt(['home','BXH','click','song','aYLxhJMqB1Wx','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">HOP ON DA SHOW</a></h3>
                                        <h4>tlinh, Low G</h4>

                                    </div>
                                    <!--span id="NCTCounter__aYLxhJMqB1Wx" class="icon_listen">0</span-->
                                </li>

                                <li>
                                    <span class="number special-10">10</span>
                                    <div class="info_data">

                                        <h3><a title="HÀO QUANG" href="https://www.nhaccuatui.com/bai-hat/hao-quang-rhyder-duong-domic-phap-kieu-anh-trai-say-hi.GE48izoiT3Oz.html" onclick="lt(['home','BXH','click','song','GE48izoiT3Oz','','Nhac Viet']);" ga="_gaq.push(['_trackEvent', 'TOP 20', 'Click', 'Top 20 Bai Hat Trang Chu Nhac Viet']);" class="name_song">HÀO QUANG</a></h3>
                                        <h4>RHYDER, Dương Domic, Pháp Kiều, ANH TRAI "SAY HI"</h4>

                                    </div>
                                    <!--span id="NCTCounter__GE48izoiT3Oz" class="icon_listen">0</span-->
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div style="clear:both"></div>


                    <link rel="stylesheet" type="text/css" media="screen, print, projection" href="https://stc-id.nixcdn.com/v11/css/discovery_playlist.css">
                    <div class="discovery_playlist_non">
                        <div class="image_discovery_playlist hidden-display">
                            <div class="image_box">
                                <img class="thumb_cover one" src="" alt="">
                                <img class="thumb_cover two" src="" alt="">
                                <img class="thumb_cover three" src="" alt="">
                            </div>
                        </div>
                        <a id="weeklyDiscoveryLink" onclick="_gaq.push(['_trackEvent', 'DiscoveryWeekly', 'Click', 'Nghe bai hat']); lt(['home','discovery-weekly','click','kham-pha','hang-tuan','','banner']);" href="javascript:;">
                            <div class="bg_discovery_playlist" style="background-image: url('https://stc-id.nixcdn.com/v11/images/bg_web.png')"></div>
                            <div class="content_playlist">
                                <h2>GỢI Ý DÀNH CHO BẠN</h2>
                                <p class="text_detail">Thưởng thức những ca khúc phù hợp nhất với bạn</p>
                                <p class="btn_playlist">
                                    <span class="ic_play_normal"></span>
                                    <span class="btn_text">Nghe bài hát</span>
                                </p>
                            </div>
                        </a>
                    </div>


                    <script type="text/javascript">
                        $("#weeklyDiscoveryLink").click(function () {
                            window.location.replace("https://www.nhaccuatui.com/?popup=dang-nhap&r=kham-pha");
                        });
                    </script>




                    <!--<div id="HR01" class="adv_home_300_250 nqc-zone" style="width: 300px; height: 250px; margin: 0 0 10px 0;"></div>-->

                    <div class="box_topic_music">
                        <div class="tile_box_key">
                            <h3><a href="https://www.nhaccuatui.com/chu-de.html" title="Chủ Đề Hot">Chủ Đề Hot</a></h3>
                        </div>
                        <ul>

                            <li>
                                <a title="Gaming" target="target" href="https://www.nhaccuatui.com/chu-de/gaming.weobcfhpi.html" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Chu De Hot']);lt(['home','Chu-de-hot','click','topic','75','','']);">
                                    <img src="https://avatar-ex-swe.nixcdn.com/topic/thumb/2022/12/05/7/0/8/c/1670221887775_org.jpg" alt="gaming">
                                </a>
                            </li>

                            <li>
                                <a title="Du Lịch" target="target" href="https://www.nhaccuatui.com/chu-de/du-lich.wepqryibo.html" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Chu De Hot']);lt(['home','Chu-de-hot','click','topic','78','','']);">
                                    <img src="https://avatar-ex-swe.nixcdn.com/topic/thumb/2020/06/17/7/d/8/9/1592361216469_org.jpg" alt="du lich">
                                </a>
                            </li>

                            <li>
                                <a title="Nhạc Âu Mỹ" target="target" href="https://www.nhaccuatui.com/chu-de/nhac-au-my.weieatejm.html" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Chu De Hot']);lt(['home','Chu-de-hot','click','topic','19','','']);">
                                    <img src="https://avatar-ex-swe.nixcdn.com/topic/thumb/2022/12/29/d/7/e/a/1672295146290_org.jpg" alt="nhac au my">
                                </a>
                            </li>

                            <li>
                                <a title="Khiêu Vũ" target="target" href="https://www.nhaccuatui.com/chu-de/khieu-vu.weiaxmkjc.html" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Chu De Hot']);lt(['home','Chu-de-hot','click','topic','29','','']);">
                                    <img src="https://avatar-ex-swe.nixcdn.com/topic/thumb/2020/06/22/9/7/b/e/1592812587983_org.jpg" alt="khieu vu">
                                </a>
                            </li>

                            <li>
                                <a title="Nhạc Ngoại Lời Việt" target="target" href="https://www.nhaccuatui.com/chu-de/nhac-ngoai-loi-viet.weoawdajp.html" onclick="_gaq.push(['_trackEvent', 'Home', 'Click', 'Chu De Hot']);lt(['home','Chu-de-hot','click','topic','59','','']);">
                                    <img src="https://avatar-ex-swe.nixcdn.com/topic/thumb/2021/04/23/a/e/1/8/1619169761173_org.jpg" alt="nhac ngoai loi viet">
                                </a>
                            </li>

                        </ul>
                    </div>


                    <div class="clr"></div>
                    <div class="clr"></div>




                    <div id="HR02" class="adv_home_300_250 nqc-zone" style="width: 300px; height: 250px; margin: 0 0 10px 0;"></div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>
