@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Interface</title>
    <link href="~/Content/Content/Content.css" rel="stylesheet" />
</head>
<body>
    <div class="box-content">
        <div class="wrap">
            <div class="content-wrap">
                <div class="box-left">
                    <!--Topic Event-->

                    <div class="list_album">
                        <div class="fram_select">
                            <div class="tile_box_key">
                                <h2>
                                    <a style="background: none;" title="Vũ Trụ Nhạc Việt" href="javascript:void(0)">Vũ Trụ Nhạc Việt</a>
                                </h2>
                            </div>
                            <ul>
                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="box_absolute" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/09/04/5/c/6/f/1725455278586_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rb-viet-.GfxhiC8Qcj76.html" class="name_song" title="R&amp;B Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'GfxhiC8Qcj76']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','GfxhiC8Qcj76','','title_playlist']);">R&amp;B Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="box_absolute" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/05/12/e/e/f/e/1683882973444_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/nhac-viet-live-.aF1Sq68q1rMJ.html" class="name_song" title="Nhạc Việt Live" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'aF1Sq68q1rMJ']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','aF1Sq68q1rMJ','','title_playlist']);">Nhạc Việt Live</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="box_absolute" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/24/0/e/b/d/1719202663005_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/rock-viet-.AEXWBELCYupV.html" class="name_song" title="Rock Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'AEXWBELCYupV']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','AEXWBELCYupV','','title_playlist']);">Rock Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="box_absolute" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2024/06/27/b/b/e/b/1719462163257_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/ban-sac-viet-.yoMB4zykzfEm.html" class="name_song" title="Bản Sắc Việt" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'yoMB4zykzfEm']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','yoMB4zykzfEm','','title_playlist']);">Bản Sắc Việt</a>
                                        </h3>
                                    </div>
                                </li>

                                <li style="height: auto;">
                                    <div class="box-left-album">
                                        <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="box_absolute" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Click', 'MusicEvent - Vũ Trụ Nhạc Việt', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','thumb']);">
                                            <div class="bg_action_info">
                                                <span class="icon_play"></span>
                                            </div>
                                            <span class="avatar">
                                                <img onerror="common.handleErrorImage(this,'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', 'fail');" onload="common.handleErrorImage(this, 'https://stc-id.nixcdn.com/v11/images/img-plist-full.jpg', '');" src="https://avatar-ex-swe.nixcdn.com/playlist/2023/09/19/0/4/0/3/1695112393389_300.jpg" alt="Vũ Trụ Nhạc Việt" title="Vũ Trụ Nhạc Việt">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="info_album">
                                        <h3 class="h3seo">
                                            <a href="https://www.nhaccuatui.com/playlist/v-sound-2010s-.RvYFRBSnBGVF.html" class="name_song" title="V-SOUND 2010s" onclick="_gaq.push(['_trackEvent', 'Vũ Trụ Nhạc Việt', 'Click', 'RvYFRBSnBGVF']); lt(['Vũ Trụ Nhạc Việt','music-event','click','playlist','RvYFRBSnBGVF','','title_playlist']);">V-SOUND 2010s</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
