<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="~/Content/Content/Menu.css" rel="stylesheet" />
    @Styles.Render("~/Menu")
    @Styles.Render("~/main")
    @Styles.Render("~/Footer")
</head>
<body>
    <div class="header-wrap">
        <header>
            <nav class="menu" style="text-align: center;">
                <ul>
                    <li><img src="../Image/NhacCuaTui_2022logo.png" alt="" style="height: 40px;"></li>
                    <li><a href="#">Khám phá</a></li>
                    <li>
                        <a href="#">Bài hát</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Nhạc Trẻ</a></li>
                                        <li><a href="#">Trữ Tình</a></li>
                                        <li><a href="#">Remix Việt</a></li>
                                        <li><a href="#">Rap Việt</a></li>
                                        <li><a href="#">Tiền Chiến</a></li>
                                        <li><a href="#">Nhạc Trịnh</a></li>
                                        <li><a href="#">Rock Việt</a></li>
                                        <li><a href="#">Cách Mạng</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Âu Mỹ</span>
                                    <ul>
                                        <li><a href="#">Pop</a></li>
                                        <li><a href="#">Rock</a></li>
                                        <li><a href="#">Electronica/Dance</a></li>
                                        <li><a href="#">R&B/HipHop/Rap</a></li>
                                        <li><a href="#">Blues/Jazz</a></li>
                                        <li><a href="#">Country</a></li>
                                        <li><a href="#">Latin</a></li>
                                        <li><a href="#">Indie</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Châu Á</span>
                                    <ul>
                                        <li><a href="#">Nhạc Hàn</a></li>
                                        <li><a href="#">Nhạc Hoa</a></li>
                                        <li><a href="#">Nhạc Nhật</a></li>
                                        <li><a href="#">Nhạc Thái</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Khác</span>
                                    <ul>
                                        <li><a href="#">Thiếu Nhi</a></li>
                                        <li><a href="#">Không Lời</a></li>
                                        <li><a href="#">Nhạc Phim</a></li>
                                        <li><a href="#">Thể Loại Khác</a></li>
                                        <li><a href="#">Tui hát</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Playlist</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Nhạc Trẻ</a></li>
                                        <li><a href="#">Trữ Tình</a></li>
                                        <li><a href="#">Remix Việt</a></li>
                                        <li><a href="#">Rap Việt</a></li>
                                        <li><a href="#">Tiền Chiến</a></li>
                                        <li><a href="#">Nhạc Trịnh</a></li>
                                        <li><a href="#">Rock Việt</a></li>
                                        <li><a href="#">Cách Mạng</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Âu Mỹ</span>
                                    <ul>
                                        <li><a href="#">Pop</a></li>
                                        <li><a href="#">Rock</a></li>
                                        <li><a href="#">Electronica/Dance</a></li>
                                        <li><a href="#">R&B/HipHop/Rap</a></li>
                                        <li><a href="#">Blues/Jazz</a></li>
                                        <li><a href="#">Country</a></li>
                                        <li><a href="#">Latin</a></li>
                                        <li><a href="#">Indie</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Châu Á</span>
                                    <ul>
                                        <li><a href="#">Nhạc Hàn</a></li>
                                        <li><a href="#">Nhạc Hoa</a></li>
                                        <li><a href="#">Nhạc Nhật</a></li>
                                        <li><a href="#">Nhạc Thái</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Khác</span>
                                    <ul>
                                        <li><a href="#">Thiếu Nhi</a></li>
                                        <li><a href="#">Không Lời</a></li>
                                        <li><a href="#">Nhạc Phim</a></li>
                                        <li><a href="#">Thể Loại Khác</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tuyển Tập</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Thể Loại</span>
                                    <ul>
                                        <li><a href="#">Nhạc Trẻ</a></li>
                                        <li><a href="#">Trữ Tình</a></li>
                                        <li><a href="#">Pop</a></li>
                                        <li><a href="#">Nhạc Hàn</a></li>
                                        <li><a href="#">Nhạc Hoa</a></li>
                                        <li><a href="#">Soundtrack</a></li>
                                        <li><a href="#">Không lời</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Tâm Trạng</span>
                                    <ul>
                                        <li><a href="#">Buồn</a></li>
                                        <li><a href="#">Hưng phấn</a></li>
                                        <li><a href="#">Nhạy Cảm</a></li>
                                        <li><a href="#">Nhớ Nhung</a></li>
                                        <li><a href="#">Thất Tình</a></li>
                                        <li><a href="#">Thư Giãn</a></li>
                                        <li><a href="#">Vui Vẻ</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Khung Cảnh</span>
                                    <ul>
                                        <li><a href="#">Cafe</a></li>
                                        <li><a href="#">Bar - Club</a></li>
                                        <li><a href="#">Phòng Trà</a></li>
                                        <li><a href="#">Tắm - Bơi Lội</a></li>
                                        <li><a href="#">Tập Gym</a></li>
                                        <li><a href="#">Lãng Mạn</a></li>
                                        <li><a href="#">Mưa</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Chủ Đề</span>
                                    <ul>
                                        <li><a href="#">Thiếu Nhi</a></li>
                                        <li><a href="#">Không Lời</a></li>
                                        <li><a href="#">Nhạc Phim</a></li>
                                        <li><a href="#">Thể Loại Khác</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Video</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Nhạc Trẻ</a></li>
                                        <li><a href="#">Trữ Tình</a></li>
                                        <li><a href="#">Cách Mạng</a></li>
                                        <li><a href="#">Rap Việt</a></li>
                                        <li><a href="#">Rock Việt</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Âu Mỹ</span>
                                    <ul>
                                        <li><a href="#">Pop</a></li>
                                        <li><a href="#">Rock</a></li>
                                        <li><a href="#">Electronica/Dance</a></li>
                                        <li><a href="#">R&B/HipHop/Rap</a></li>
                                        <li><a href="#">Blues/Jazz</a></li>
                                        <li><a href="#">Country</a></li>
                                        <li><a href="#">Latin</a></li>
                                        <li><a href="#">Indie</a></li>
                                        <li><a href="#">Âu Mỹ khác</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Châu Á</span>
                                    <ul>
                                        <li><a href="#">Nhạc Hàn</a></li>
                                        <li><a href="#">Nhạc Hoa</a></li>
                                        <li><a href="#">Nhạc Nhật</a></li>
                                        <li><a href="#">Nhạc Thái</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Karaoke</span>
                                    <ul>
                                        <li><a href="#">Nhạc Trẻ</a></li>
                                        <li><a href="#">Trữ Tình</a></li>
                                        <li><a href="#">Remix Việt</a></li>
                                        <li><a href="#">Thiếu Nhi</a></li>
                                        <li><a href="#">Âu Mỹ</a></li>
                                        <li><a href="#">Thể Loại Khác</a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <span>Khác</span>
                                    <ul>
                                        <li><a href="#">Clip Vui</a></li>
                                        <li><a href="#">Hài Kịch</a></li>
                                        <li><a href="#">Thiếu Nhi</a></li>
                                        <li><a href="#">Thể Loại Khác</a></li>
                                        <li><a href="#">Giải Trí Khác</a></li>
                                        <li><a href="#">Phim Việt Nam</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">BXH</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Việt Nam</a></li>
                                        <li><a href="#">Âu Mỹ</a></li>
                                        <li><a href="#">Hàn Quốc</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Top 100</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Việt Nam</a></li>
                                        <li><a href="#">Âu Mỹ</a></li>
                                        <li><a href="#">Châu Á</a></li>
                                        <li><a href="#">Không Lời</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">...</a>
                        <ul class="dropdown">
                            <li>
                                <div class="category">
                                    <span>Việt Nam</span>
                                    <ul>
                                        <li><a href="#">Nghệ Sĩ</a></li>
                                        <li><a href="#">Tin tức âm nhạc</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="navbar-right">
                            <input type="text" placeholder="Tìm kiếm">
                        </div>
                    </li>
                    <li>
                        <a href="#" class="login">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="#" class="signup">Đăng ký</a>
                    </li>

                </ul>
            </nav>
        </header>
    </div>
    <!-- Content Wrapper -->
    <div class="content-wrap">
        <section class="content">
            @RenderBody()
        </section>
    </div>
    <div class="footer-wrap">
        <footer>
            <div class="footer-content">
                <div class="footer-container">
                    <div class="footer-section about">
                        <img src="~/Image/NhacCuaTui_2022logo.png" alt="NhacCuaTui Logo" class="footer-logo">
                        <p>NhacCuaTui - Nghe nhạc trực tuyến mọi lúc mọi nơi. Khám phá âm nhạc yêu thích của bạn với những bài hát và nghệ sĩ nổi tiếng.</p>
                    </div>

                    <div class="footer-section links">
                        <h3>Liên kết nhanh</h3>
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Thể loại</a></li>
                            <li><a href="#">Bảng xếp hạng</a></li>
                            <li><a href="#">Album</a></li>
                            <li><a href="#">Nghệ sĩ</a></li>
                        </ul>
                    </div>

                    <div class="footer-section contact">
                        <h3>Liên hệ</h3>
                        <ul>
                            <li>Email: support@nhaccuatui.com</li>
                            <li>Điện thoại: +123 456 789</li>
                        </ul>
                        <div class="social-icons">
                            <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/facebook.png" alt="Facebook"></a>
                            <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/youtube-play.png" alt="YouTube"></a>
                            <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png" alt="Instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2024 NhacCuaTui | Bản quyền thuộc về NhacCuaTui</p>
                </div>
            </div>
        </footer>
    </div>
    <script>
        document.querySelectorAll('.menu > ul > li').forEach(item => {
            item.addEventListener('click', () => {
                document.querySelectorAll('.menu > ul > li').forEach(link => {
                    link.classList.remove('active');
                });
                item.classList.add('active');
            });
        });
    </script>
</body>
</html>